<div class='container' id='chat_container'>
  <div class='row'>
    <div class='col-lg-5'>
      <div id='chat_convo_history_div'></div>
    </div>

    <div class='col-lg-7'>
      <div id='chat_conversation_div'>
        <div id='chat_conversation_thread'></div>
        <div id='chat_conversation_talker'>
          <div class="input-group">
            <input type="text" class="form-control" id='chat_talk_input' placeholder="Search for...">
            <span class="input-group-btn">
              <button class="btn btn-secondary" id='chat_talk_input_btn' type="button">Say!</button>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
