<div class='container item_profile'>
  <div class='row'>
    <div class='col-md-1'></div>
    <div class='col-md-10 item__display_box'>

      <div class='item__picture_box'>
        <%= image_tag "lundesigns_holy_spirit.jpg", :class => 'item__main_picture' %>
        <div class='item__item_description'></div>
      </div>

      <div class='item__description_box'></div>
    </div>
    <div class='col-md-1'></div>


    <div class='col-md-6 item__display_box'>
      <%= image_tag "lundesigns_holy_spirit.jpg", :class => 'item__main_picture' %>
      <div class='item__item_description'></div>
    </div>
    <div class='col-md-6 item__description_box'>
      <div class='item__description_box_item item__price_breakdown'></div>
      <div class='item__description_box_item item__box2'></div>
    </div>


  </div>
</div>
