.artst_profile_container {

}

.artist__header_banner {
  height: 300px;
  margin-bottom: 60px;
}

.banner_1_picture {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

#artist__artist_breakdown_9 {
  height: 1000px;
  border: 1px solid red;
}

#artist__feature_shelf_vertical{
  height: 1000px;
  border: 1px solid orange;
}

#details_card_div_9 {
  width: 100%;
  height: 250px;
  border: 1px solid violet;
}

#artist__profile_picture {
  float: left;
  height: 150px;
  width: 150px;
  margin: 15px 0 0 15px;
}

#artist__title_and_tagline_div_container {
  float: left;
  height: 80px;
  width: 400px;
  // border: 1px solid blue;
}

#artist__name_title {
  float: left;
  margin: 15px 0 6px 10px;
  display: block;
}

.artist__tagline {
  float: left;
  display: block;
  margin: 0 0 6px 10px;
}

#artist__vibe_badge_div_container {
  float: right;
  height: 250px;
  width: 200px;
  padding-top: 15px;
  // border: 1px solid pink;
}

.badge_container {
  float: left;
  width: 99px;
  font-size: 11px;
  text-align: center;
  // border: 1px solid black;
}

.badge_picture_container {
  height: 40px;
  width: 40px;
  margin: 5px 25px 25px 29px;
}

.vibe_badge_picture {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 30px;
}

#sacred_nomad_badge {
  border: 1px solid brown;
}

#sexy_badge {
  border: 1px solid #00FFFF;
}

#artist__breakdown_div_container {
  float: left;
  height: 60px;
  width: 400px;
  // border: 1px solid blue;
}

.artist__breakdown_item {
  margin: 0 0 6px 10px;
}

#artist__category_1_line {

}

#artist__guys_girls_breakdown_line {

}

#artist__shop_description {
  float: left;
  height: 100px;
  width: 400px;
  // margin: 0 0 6px 10px;
  padding: 0 0 0 10px;
  // border: 1px solid black;
}
