#artists_page_title {
  width: 100%;
  text-align: center;
  font-size: 50px;
  text-decoration: underline;
  margin-bottom: 30px;
}

.artist_window_container {
  height: 400px;
  width: 90%;
  margin: 15px auto; 
  padding: 4%;
  background-color: #8C8C8C;
  border-radius: 5px;
}

.artist_window {
  height: 100%;
  width: 100%;
}

.artist_window_picture {
  height: 60%;
  width: 100%;
  object-fit: cover;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}

.artist_snapshot {
  height: 40%;
  background-color: #E0E0E0;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  padding: 4px 0 0 8px;
}

.artist_snapshot_descriptor {

}

br {
   display: block;
   margin: 5px 0;
}
