.artist_profile_container {
  margin-bottom: 10px;
}

.artist__header_banner {
  height: 300px;
  margin-bottom: 60px;
}

.banner_1_picture {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

#artist__artist_breakdown_9 {
  height: 1100px;
  // border: 1px solid red;
}

#details_card_div_9 {
  width: 100%;
  height: 250px;
  // border: 1px solid violet;
}

#artist__profile_picture {
  float: left;
  height: 150px;
  width: 150px;
  margin: 15px 0 0 15px;
}

#artist__title_and_tagline_div_container {
  float: left;
  height: 80px;
  width: 400px;
  // border: 1px solid blue;
}

#artist__name_title {
  float: left;
  margin: 15px 0 6px 10px;
  display: block;
}

.artist__tagline {
  float: left;
  display: block;
  margin: 0 0 6px 10px;
}

#artist__vibe_badge_div_container {
  float: right;
  height: 250px;
  width: 200px;
  padding-top: 15px;
  // border: 1px solid pink;
}

.badge_container {
  float: left;
  width: 99px;
  font-size: 11px;
  text-align: center;
  // border: 1px solid black;
}

.badge_picture_container {
  height: 40px;
  width: 40px;
  margin: 5px 25px 25px 29px;
}

.vibe_badge_picture {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 30px;
}

#sacred_nomad_badge {
  border: 1px solid brown;
}

#sexy_badge {
  border: 1px solid #00FFFF;
}

#artist__breakdown_div_container {
  float: left;
  height: 65px;
  width: 400px;
  // border: 1px solid blue;
}

.artist__breakdown_item {
  margin: 0 0 6px 10px;
}

#artist__location_flag {
  height: 10px;
  width: 10px;
}

#artist__category_1_line {

}

#artist__location_line {
  margin: -6px 0 0 14px;
  color: #FD9308;
}

#artist__guys_girls_breakdown_line {

}

#artist__shop_description {
  float: left;
  height: 100px;
  width: 450px;
  padding: 0 0 0 14px;
  // border: 1px solid black;
}

#artist__about_this_artist_btn {
  position: absolute;
  height: 29px;
  width: 106px;
  top: 0;
  left: 0;
  margin: 215px 0 0 30px;
  font-size: 11px;

}

#artist__feature_shelf_vertical{
  height: 950px;
  // border: 1px solid orange;
}

#featured_items_title {
  margin: 5px 0 0 58px;
}

.item_div_container {
  height: 280px;
  width: 250px;
  border: 1px solid #FF8247;
  border-radius: 3px;
  margin: 10px 0;
}

.item_picture {
  object-fit: cover;
  height: 80%;
  width: 100%;
  margin: 0 0 5px 0;
  background-color: white;
  z-index: 1;
}

.item_descriptor {
  margin: 0 0 0 10px;
}

.item_name {}

.item_price {}

// #artist__bio_container {
//   height: 500px;
//   border: 1px solid blue;
//   margin-top: 30px;
// }

#artist__shelf_container {
  height: 750px;
  margin-top: 50px;
  // border: 1px solid black;
}

.shelf_slider_container {
  height: 280px;
  width: 100%;
}

.slider_title {
  margin: 15px 0 0 12px;
}

.slider_item {
  float: left;
  margin: 10px;
  z-index: 1;
  background-color: white;
}

.artist__shelf_9 {
  height: 350px;
  // border: 1px solid black;
}

.shelf_platform {
  height: 40px;
  width: 100%;
  bottom: 0;
  background-color: black;
}

#artist__link_container {
  width: 100%;
}

#artist__link_div {
  margin: 15px 13%;
}

.icon_link_big {
  height: 40px;
  width: 40px;
  margin: 10px;
}


#artist__vision_statment_container {
  height: 200px;
  margin-bottom: 150px;
  padding: 30px;
}

#artist__vision_statement_10 {
  height: 200px;
  margin-top: 10px;
  border: 1px solid black;
  text-align: center;
  font-style: italic;
}

#artist__catalogue {
  height: 1325px;
  margin-bottom: 150px;
  border: 1px solid black;
}

#catalogue_filter_bar {
  height: 600px;
  width: 100%;
  border: 1px solid red;
}

#catalogue_title {
  margin-left: 10px;
  margin-bottom: 25px;
}

.catalogue_option_div {
  height: 50px;
}

.catalogue_bar_option {
  width: 120px;
  margin: 5px 0 10px 10px;
}

#catalogue_content_window {
  height: 1300px;
  width: 100%;
  border: 1px solid blue;
}

.catalogue_slider_container {
  height: 280px;
  width: 100%;
  margin: 15px 0 0 18px;
}
