.feature_3_window {
  margin-bottom: 58px;
}

.feature_3_picture {
  object-fit: cover;
  height: 400px;
  width: 100%;
}

.position_20_80 {
  object-position: 70% 30%;
}

.feature_3_spaced_window {
  margin-bottom: 35px;
}

.feature_3_spaced_row {
  margin-bottom: 50px;
}

.feature_3_spaced_container {
  padding: 0 57px;
}

.feature_3_spaced_picture {
  object-fit: cover;
  width: 285px;
  height: 174px;
  margin: 0 10px;
  display: inline-block;
  border-radius: 18px;
}

.feature_3_spaced_picture--middle {
  margin: 0 0 0 0;
}

.feature_3_spaced_picture--middle {
  margin: 0 0 0 0;
}

.feature_3_spaced_picture--middle {
  margin: 0 0 0 0;
}

.feature_4_window {
  margin-bottom: 50px;
}

.feature_4_window_title {
  font-size: 16px;
  margin: 0 0 3px 5px;
}

.feature_4_picture {
  object-fit: cover;
  height: 300px;
  width: 100%;
}

.browse_bar {
  height: 2000px;
  margin-top: 120px;
  margin-bottom: 120px;
  // background-color: #E3E3E3;
}

#browse_bar_header_bar {
  height: 50px;
  width: 100%;
  background-color: black;
}

.browse_bar_column_container {
  height: 1900px;
}

.browse_bar_column {
  height: 1900px;
  width: 340px;
  background-color: #F8ECC2;
}

#browse_bar_column_1 {
  float: left;
  margin: 0 0 0 11px;
  // background-color: red;
}

#browse_bar_column_2 {
  float: left;
  margin: 0 0 0 50px;
  // background-color: purple;
}

#browse_bar_column_3 {
  float: right;
  margin: 0 11px 0 0;
  // background-color: green;
}

.browse_bar_picture {
  object-fit: cover;
  height: 260px;
  width: 90%;
  margin: 10% 5% 0 5%;
}

.browse_bar_item_name {
  float: left;
  margin: 1px 0 0 6%;
  font-size: 11px;
}
