.feature_3_window {
  margin-bottom: 58px;
}

.feature_3_picture {
  object-fit: cover;
  height: 400px;
  width: 100%;
}

.position_20_80 {
  object-position: 70% 30%;
}

.feature_3_spaced_window {
  margin-bottom: 35px;
}

.feature_3_spaced_row {
  margin-bottom: 50px;
}

.feature_3_spaced_container {
  padding: 0 57px;
}

.feature_3_spaced_picture {
  object-fit: cover;
  width: 285px;
  height: 174px;
  margin: 0 10px;
  display: inline-block;
  border-radius: 18px;
}

.feature_3_spaced_picture--middle {
  margin: 0 0 0 0;
}

.feature_3_spaced_picture--middle {
  margin: 0 0 0 0;
}

.feature_3_spaced_picture--middle {
  margin: 0 0 0 0;
}

.feature_4_window {
  margin-bottom: 50px;
}

.feature_4_window_title {
  font-size: 16px;
  margin: 0 0 3px 5px;
}

.feature_4_picture {
  object-fit: cover;
  height: 300px;
  width: 100%;
}
