.category_entry {
  height: 300px;
  width: 90%;
  padding: 5%;
}

.categories_entry_picture {
  height: 100%;
  width: 90%;
  position: absolute;
  object-fit: cover;
}

.entry_title_name {
  width: 60%;
  font-size: 30px;
  position: absolute;
  margin: 73px 0 0 63px;
  color: white;
}
