<!-- <div class='container'>
  <div class='row'>
    <div class='col-md-10 container' id='categories__feature_window'>
      <div class='row'>
        <div class='col-md-4'></div>
        <div class='col-md-4'></div>
        <div class='col-md-4'></div>
      </div>
    <div>
  </div>
</div> -->
